.card {
  max-width: 235px;
  min-width: 235px;
}

.no-data {
  background-color: #ff8484;
  border: 2px solid #ff5454;
  border-radius: 4px;
  padding: 1rem;
}

.detail-row {
  height: 0;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  padding-bottom: 0.5rem;
}
