<div class="d-flex justify-between align-center">
  <h1>{{ courseDetails?.name }}</h1>
  <a mat-raised-button color="primary" routerLink="edit">Edit course</a>
</div>
<small>Deadline: {{ courseDetails?.deadline?.toLocaleDateString() || 'No deadline' }}</small>
<p *ngFor="let line of courseDetails?.description?.split('\n')">{{ line }}</p>
<div class="d-flex justify-between align-center">
  <h2>Word pairs</h2>
  <a mat-raised-button color="primary" routerLink="words/edit">Edit word pairs</a>
</div>
<div *ngIf="wordPairs?.length === 0" class="no-data">
  No word pairs
</div>
<div *ngIf="!wordPairs" class="spinner">
  <mat-spinner></mat-spinner>
</div>
<div class="d-flex flex-wrap justify-around" *ngIf="wordPairs?.length">
  <mat-card *ngFor="let wordPair of wordPairs" class="m-1 card">
      <mat-card-header>
        <mat-card-title>{{ wordPair.word }} - {{ wordPair.translation }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip *ngFor="let metadata of wordPair.metadata">{{ metadata }}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
</div>
<h2>Students</h2>
<div *ngIf="courseDetails?.students?.length === 0" class="no-data">
  No students
</div>
<div *ngIf="!courseDetails" class="spinner">
  <mat-spinner></mat-spinner>
</div>
<table mat-table *ngIf="courseDetails?.students?.length" [dataSource]="courseDetails!.students" class="w-100">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>
  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef>Score</th>
    <td mat-cell *matCellDef="let element">{{ element.score || 'No submission yet' }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
