body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.w-100 {
  width: 100%;
}

.m-05 {
  margin: 0.5rem;
}

.mx-05 {
  margin: 0 0.5rem !important;
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mb-2 {
  margin-bottom: 1rem;
}

.p-1 {
  padding: 1rem;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.container {
  max-width: 1200px;
  margin: 1rem auto;
}

.cursor-pointer {
  cursor: pointer;
}

.align-center {
  align-items: center;
}

.text-right {
  text-align: right;
}

.spinner {
  display: flex;
  justify-content: center;
  zoom: 0.5;
  margin: 2rem;
}
